#admin-calendar
{
    .day
    {
        //border-bottom: 3px solid #999;
        //padding: 10px 0 30px;

        .collapsible-header
        {
            background-color: darken(white,1%);
        }

        .btn
        {
            //height: 50px;
            margin-right: 10px;

            @media (max-width: 600px) 
            {
                margin-right: 0px;
            }
        }

        .h2
        {
            //border-bottom: 1px solid #DDD;
            //padding: 10px 0;
            //margin-bottom: 20px;
            // font-size: 20px;
            // color: $medium-gray;
        }

        .time
        {
            select
            {
                display: block;
                @extend .center-align; 
            }

            >div
            {
                padding: 20px;
            }

            .select-wrapper
            {
                input
                {
                    @extend .center-align;     
                }
                
                //margin-right: 10px;   
            }
            span{}

            .nav
            {
                .material-icons
                {
                    line-height: 50px !important;
                }   
            }
        }
    }
}


#calendar
{
    display: block;

    td
    {
        position: relative;
    }

    .dd-name
    {
        display: block;
        text-align: center;
    }

    .btn
    {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .dd-num
    {
        display: block;
        text-align: center;
        font-size: 20px;
    }

    .next-btn, .prev-btn
    {
        margin-top: 30px;
    }

}
